<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://images.pexels.com/photos/3729464/pexels-photo-3729464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Nova versão do carro New Car</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nulla animi veritatis doloremque optio tenetur, blanditiis architecto quis 
        laboriosam aliquid rerum maiores saepe laborum ea pariatur, 
        facere eligendi repudiandae nobis molestiae!
      </a>
    </p>
  </div>
</div>
